@using Extractor.Model.Entity
@model IEnumerable<Extractor.Model.Entity.Adjudicacion>

@{
    ViewBag.Title = "Index";
    WebGrid grid = new WebGrid(Model);
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".social").click(function () {
            $.get($(this).attr("href"), function (data) {
            });
            return false;
        })
    })
</script>
<div class="page-header">
    <h1>Listado de adjudicaciones <small></small></h1>
</div>
<div class="row">
    <div class="span14">
    @using(Html.BeginForm()) {
        <text>

            <div class="clearfix">
                <label for="xlInput">Entidad</label>
                <div class="input">
                    <input class="xlarge" id="Entidad" name="Entidad" size="30" type="text" value="@ViewBag.Filter.Entidad" />
                </div>
            </div>

            <div class="clearfix">
                <label for="xlInput">Objeto</label>
                <div class="input">
                    <input class="xlarge" id="Objeto" name="Objeto" size="30" type="text" value="@ViewBag.Filter.Objeto" />
                </div>
            </div>

            <div class="clearfix">
                <label for="xlInput">Proveedor</label>
                <div class="input">
                    <input class="xlarge" id="Proveedor" name="Proveedor" size="30" type="text" value="@ViewBag.Filter.Proveedor" />
                </div>
            </div>


            <div class="actions">
                <input type="submit" value="Buscar" class="btn primary">
            </div>

        </text>
    }
    </div>
    <div class="span14">
@grid.GetHtml(
        columns: new[] {
        @grid.Column("FechaBoletin", "Fecha"),
        @grid.Column("Entidad", "Entidad"),
        @grid.Column("Objeto", "Objeto"),
        @grid.Column("Proveedor", format:@<text>
                        @foreach (var licitacion in item.Licitaciones) {
                            @licitacion.Proveedor<br/>
                        }
                    </text>),
        @grid.Column("Precio", format:@<text>
                        @foreach (var licitacion in item.Licitaciones) {
                            @licitacion.Precio.Moneda @licitacion.Precio.Valor<br/>
                        }
                    </text>),
        @grid.Column("Me gusta", format:@<text>
                        <a class="social btn smal" href="@Url.Action("MeGusta", "Adjudicacion", new { id = item.Id })"><img src="@Url.Content("~/Content/images/megusta.png")"> (@item.MeGusta)</a>
                    </text>),
        @grid.Column("No me gusta", format:@<text>
                        <a class="social btn small" href="@Url.Action("NoMeGusta", "Adjudicacion", new { id = item.Id })"><img src="@Url.Content("~/Content/images/nomegusta.png")"> (@item.NoMeGusta)</a>
                    </text>),
        @grid.Column("Revisar", format:@<text>
                        <a class="social btn small" rel="popover" data-original-title="Descripción" data-content="@item.Texto" href="@Url.Action("Revisar", "Adjudicacion", new { id = item.Id })"><img src="@Url.Content("~/Content/images/revisar.png")"> (@item.Revisar)</a>
                    </text>)
    }
)

    </div>
    <!--div class="span14">
        <div class="pagination">
            <ul>
                <li class="prev disabled"><a href="#">&larr; Previous</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li class="next"><a href="#">Next &rarr;</a></li>
            </ul>
        </div>
    </div-->
</div>